/*.active { display:inherit; }*/
ul#mapa-brasil {
  width:296px; height:294px;
  margin:0 !important; padding:0 !important;
  background-image:url('../img/mapa-brasil/mapa.png');
  display:block; float:right;
}
  ul#mapa-brasil li {
    padding:0;
    display:block;
    position:absolute;
  }
    ul#mapa-brasil li a {
      text-decoration:none;
      display:block;
      position:absolute;
    }
      ul#mapa-brasil li a img {
        width:inherit; height:inherit;
        border:0;
      }

  ul#mapa-brasil li.rs {margin-top: 243px; margin-left: 125px;}
  ul#mapa-brasil li.sc {margin-top: 236px; margin-left: 148px;}
  ul#mapa-brasil li.pr {margin-top: 209px; margin-left: 143px;}
  ul#mapa-brasil li.sp {margin-top: 190px; margin-left: 158px; z-index:9999; }
  ul#mapa-brasil li.ms {margin-top: 169px; margin-left: 118px;}
  ul#mapa-brasil li.rj {margin-top: 201px; margin-left: 210px; z-index:9999; }
  ul#mapa-brasil li.es {margin-top: 181px; margin-left: 231px; z-index:9999; }
  ul#mapa-brasil li.mg {margin-top: 152px; margin-left: 169px; z-index:9998; }
  ul#mapa-brasil li.go {margin-top: 132px; margin-left: 154px; z-index:9999; }
  ul#mapa-brasil li.ba {margin-top: 98px; margin-left: 197px;}
  ul#mapa-brasil li.mt {margin-top: 98px; margin-left: 95px;}
  ul#mapa-brasil li.ro {margin-top: 100px; margin-left: 57px; z-index:9998; }
  ul#mapa-brasil li.ac {margin-top: 99px; margin-left: 1px;}
  ul#mapa-brasil li.am {margin-top: 24px; margin-left: 2px;}
  ul#mapa-brasil li.rr {margin-top: 1px; margin-left: 72px;}
  ul#mapa-brasil li.pa {margin-top: 22px; margin-left: 114px;}
  ul#mapa-brasil li.ap {margin-top: 11px; margin-left: 146px;}
  ul#mapa-brasil li.ma {margin-top: 53px; margin-left: 191px; z-index:9999;}
  ul#mapa-brasil li.to {margin-top: 83px; margin-left: 175px;}
  ul#mapa-brasil li.se {margin-top: 122px; margin-left: 266px;}
  ul#mapa-brasil li.al {margin-top: 116px; margin-left: 267px;}
  ul#mapa-brasil li.pe {margin-top: 102px; margin-left: 245px;}
  ul#mapa-brasil li.pb {margin-top: 96px; margin-left: 265px;}
  ul#mapa-brasil li.rn {margin-top: 85px; margin-left: 265px;}
  ul#mapa-brasil li.ce {margin-top: 68px; margin-left: 245px;}
  ul#mapa-brasil li.pi {margin-top: 67px; margin-left: 209px; z-index:9997;}

  ul#mapa-brasil li.rs a {width: 50px; height: 49px; }
  ul#mapa-brasil li.sc a {width: 35px; height: 24px; }
  ul#mapa-brasil li.pr a {width: 43px; height: 31px; }
  ul#mapa-brasil li.sp a {width: 55px; height: 41px; }
  ul#mapa-brasil li.ms a {width: 51px; height: 52px; }
  ul#mapa-brasil li.rj a {width: 28px; height: 16px; }
  ul#mapa-brasil li.es a {width: 18px; height: 24px; }
  ul#mapa-brasil li.mg a {width: 79px; height: 63px; }
  ul#mapa-brasil li.go a {width: 53px; height: 55px; }
  ul#mapa-brasil li.ba a {width: 74px; height: 95px; }
  ul#mapa-brasil li.mt a {width: 84px; height: 76px; }
  ul#mapa-brasil li.ro a {width: 49px; height: 44px; }
  ul#mapa-brasil li.ac a {width: 55px; height: 27px; }
  ul#mapa-brasil li.am a {width: 130px; height: 91px;}
  ul#mapa-brasil li.rr a {width: 43px; height: 49px; }
  ul#mapa-brasil li.pa a {width: 96px; height: 94px; }
  ul#mapa-brasil li.ap a {width: 38px; height: 41px; }
  ul#mapa-brasil li.ma a {width: 51px; height: 68px; }
  ul#mapa-brasil li.to a {width: 34px; height: 62px; }
  ul#mapa-brasil li.se a {width: 13px; height: 15px; }
  ul#mapa-brasil li.al a {width: 21px; height: 12px; }
  ul#mapa-brasil li.pe a {width: 48px; height: 19px; }
  ul#mapa-brasil li.pb a {width: 29px; height: 16px; }
  ul#mapa-brasil li.rn a {width: 27px; height: 16px; }
  ul#mapa-brasil li.ce a {width: 29px; height: 39px; }
  ul#mapa-brasil li.pi a {width: 41px; height: 59px; }

  ul#mapa-brasil li.rs.actived a {background-image: url('../img/mapa-brasil/estados/actived/rs.png');}
  ul#mapa-brasil li.sc.actived a {background-image: url('../img/mapa-brasil/estados/actived/sc.png');}
  ul#mapa-brasil li.pr.actived a {background-image: url('../img/mapa-brasil/estados/actived/pr.png');}
  ul#mapa-brasil li.sp.actived a {background-image: url('../img/mapa-brasil/estados/actived/sp.png');}
  ul#mapa-brasil li.ms.actived a {background-image: url('../img/mapa-brasil/estados/actived/ms.png');}
  ul#mapa-brasil li.rj.actived a {background-image: url('../img/mapa-brasil/estados/actived/rj.png');}
  ul#mapa-brasil li.es.actived a {background-image: url('../img/mapa-brasil/estados/actived/es.png');}
  ul#mapa-brasil li.mg.actived a {background-image: url('../img/mapa-brasil/estados/actived/mg.png');}
  ul#mapa-brasil li.go.actived a {background-image: url('../img/mapa-brasil/estados/actived/go.png');}
  ul#mapa-brasil li.ba.actived a {background-image: url('../img/mapa-brasil/estados/actived/ba.png');}
  ul#mapa-brasil li.mt.actived a {background-image: url('../img/mapa-brasil/estados/actived/mt.png');}
  ul#mapa-brasil li.ro.actived a {background-image: url('../img/mapa-brasil/estados/actived/ro.png');}
  ul#mapa-brasil li.ac.actived a {background-image: url('../img/mapa-brasil/estados/actived/ac.png');}
  ul#mapa-brasil li.am.actived a {background-image: url('../img/mapa-brasil/estados/actived/am.png');}
  ul#mapa-brasil li.rr.actived a {background-image: url('../img/mapa-brasil/estados/actived/rr.png');}
  ul#mapa-brasil li.pa.actived a {background-image: url('../img/mapa-brasil/estados/actived/pa.png');}
  ul#mapa-brasil li.ap.actived a {background-image: url('../img/mapa-brasil/estados/actived/ap.png');}
  ul#mapa-brasil li.ma.actived a {background-image: url('../img/mapa-brasil/estados/actived/ma.png');}
  ul#mapa-brasil li.to.actived a {background-image: url('../img/mapa-brasil/estados/actived/to.png');}
  ul#mapa-brasil li.se.actived a {background-image: url('../img/mapa-brasil/estados/actived/se.png');}
  ul#mapa-brasil li.al.actived a {background-image: url('../img/mapa-brasil/estados/actived/al.png');}
  ul#mapa-brasil li.pe.actived a {background-image: url('../img/mapa-brasil/estados/actived/pe.png');}
  ul#mapa-brasil li.pb.actived a {background-image: url('../img/mapa-brasil/estados/actived/pb.png');}
  ul#mapa-brasil li.rn.actived a {background-image: url('../img/mapa-brasil/estados/actived/rn.png');}
  ul#mapa-brasil li.ce.actived a {background-image: url('../img/mapa-brasil/estados/actived/ce.png');}
  ul#mapa-brasil li.pi.actived a {background-image: url('../img/mapa-brasil/estados/actived/pi.png');}

  ul#mapa-brasil li.rs a:hover, ul#mapa-brasil li.rs a:active {background-image: url('../img/mapa-brasil/estados/hover/rs.png');}
  ul#mapa-brasil li.sc a:hover, ul#mapa-brasil li.sc a:active {background-image: url('../img/mapa-brasil/estados/hover/sc.png');}
  ul#mapa-brasil li.pr a:hover, ul#mapa-brasil li.pr a:active {background-image: url('../img/mapa-brasil/estados/hover/pr.png');}
  ul#mapa-brasil li.sp a:hover, ul#mapa-brasil li.sp a:active {background-image: url('../img/mapa-brasil/estados/hover/sp.png');}
  ul#mapa-brasil li.ms a:hover, ul#mapa-brasil li.ms a:active {background-image: url('../img/mapa-brasil/estados/hover/ms.png');}
  ul#mapa-brasil li.rj a:hover, ul#mapa-brasil li.rj a:active {background-image: url('../img/mapa-brasil/estados/hover/rj.png');}
  ul#mapa-brasil li.es a:hover, ul#mapa-brasil li.es a:active {background-image: url('../img/mapa-brasil/estados/hover/es.png');}
  ul#mapa-brasil li.mg a:hover, ul#mapa-brasil li.mg a:active {background-image: url('../img/mapa-brasil/estados/hover/mg.png');}
  ul#mapa-brasil li.go a:hover, ul#mapa-brasil li.go a:active {background-image: url('../img/mapa-brasil/estados/hover/go.png');}
  ul#mapa-brasil li.ba a:hover, ul#mapa-brasil li.ba a:active {background-image: url('../img/mapa-brasil/estados/hover/ba.png');}
  ul#mapa-brasil li.mt a:hover, ul#mapa-brasil li.mt a:active {background-image: url('../img/mapa-brasil/estados/hover/mt.png');}
  ul#mapa-brasil li.ro a:hover, ul#mapa-brasil li.ro a:active {background-image: url('../img/mapa-brasil/estados/hover/ro.png');}
  ul#mapa-brasil li.ac a:hover, ul#mapa-brasil li.ac a:active {background-image: url('../img/mapa-brasil/estados/hover/ac.png');}
  ul#mapa-brasil li.am a:hover, ul#mapa-brasil li.am a:active {background-image: url('../img/mapa-brasil/estados/hover/am.png');}
  ul#mapa-brasil li.rr a:hover, ul#mapa-brasil li.rr a:active {background-image: url('../img/mapa-brasil/estados/hover/rr.png');}
  ul#mapa-brasil li.pa a:hover, ul#mapa-brasil li.pa a:active {background-image: url('../img/mapa-brasil/estados/hover/pa.png');}
  ul#mapa-brasil li.ap a:hover, ul#mapa-brasil li.ap a:active {background-image: url('../img/mapa-brasil/estados/hover/ap.png');}
  ul#mapa-brasil li.ma a:hover, ul#mapa-brasil li.ma a:active {background-image: url('../img/mapa-brasil/estados/hover/ma.png');}
  ul#mapa-brasil li.to a:hover, ul#mapa-brasil li.to a:active {background-image: url('../img/mapa-brasil/estados/hover/to.png');}
  ul#mapa-brasil li.se a:hover, ul#mapa-brasil li.se a:active {background-image: url('../img/mapa-brasil/estados/hover/se.png');}
  ul#mapa-brasil li.al a:hover, ul#mapa-brasil li.al a:active {background-image: url('../img/mapa-brasil/estados/hover/al.png');}
  ul#mapa-brasil li.pe a:hover, ul#mapa-brasil li.pe a:active {background-image: url('../img/mapa-brasil/estados/hover/pe.png');}
  ul#mapa-brasil li.pb a:hover, ul#mapa-brasil li.pb a:active {background-image: url('../img/mapa-brasil/estados/hover/pb.png');}
  ul#mapa-brasil li.rn a:hover, ul#mapa-brasil li.rn a:active {background-image: url('../img/mapa-brasil/estados/hover/rn.png');}
  ul#mapa-brasil li.ce a:hover, ul#mapa-brasil li.ce a:active {background-image: url('../img/mapa-brasil/estados/hover/ce.png');}
  ul#mapa-brasil li.pi a:hover, ul#mapa-brasil li.pi a:active {background-image: url('../img/mapa-brasil/estados/hover/pi.png');}